##########################################################################
# Ignore
##########################################################################
# Everything
*
##########################################################################
# Exceptions
##########################################################################
!/.gitignore
!/README.md
!/README_NEXT_STAGE.md
!/PROJECTS.md
!/CHANGELOG.md
!/.bashrc
!/.bash_aliases
!/.generated_repo_aliases
!/.generated_repo_list.json
!/.markdownlint.json
# Where all the desktop files are.
!/.local/share/applications/
!/.local/share/applications/**
# places my directories in specific places
!/.config/user-dirs.dirs
# use dark theme when possible
!/.config/settings.ini
# Scripts
scripts/
!/scripts/
!/scripts/**

# Unignore directory
.config/*
!.config/
!/.config/foot/
!/.config/nvim/
!/.config/kanshi/
!/.config/sway/
!/.config/systemd/
!/.config/i3blocks/
!/.config/wofi/
!/.config/fish/
!/.config/copyq/
!/.config/kitty/
!/.config/tmux/
# Unignore directory contents
!/.config/foot/**
!/.config/nvim/**
!/.config/kanshi/**
!/.config/sway/**
!/.config/systemd/**
!/.config/i3blocks/**
!/.config/wofi/**
!/.config/fish/**
!/.config/copyq/**
!/.config/kitty/**
!/.config/tmux/**
