# Ignore everything in repository root 
/*

# Base files to not ignore
!/.gitignore
!/README.md
!/README_NEXT_STAGE.md
!/PROJECTS.md
!/CHANGELOG.md
!/.bashrc
!/.bash_aliases
!/.generated_repo_aliases
!/.markdownlint.json

# contains most configs (see .gitignore for what should be included)
!.config/
# Where all the desktop files are.
!.local/share/applications
