# Ignore everything in repository root 
/*

# Base files to not ignore
!/.gitignore
!/README.md

# places my directories in specific places
!/user-dirs.dirs
# use dark theme when possible
!/settings.ini

# Allow changes in directories
!/foot/
!/nvim/
!/kanshi/
!/sway/
!/systemd/
!/i3blocks/
!/wofi/
!/fish/
