!/.gitignore

# places my directories in specific places
!/user-dirs.dirs
# use dark theme when possible
!/settings.ini

# Allow changes in directories
!/.config/foot/*
!/.config/nvim/*
!/.config/kanshi/*
!/.config/sway/*
!/.config/systemd/*
!/.config/i3blocks/*
!/.config/wofi/*
!/.config/fish/*
!/.config/copyq/*
